.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  + .wrapper {
    margin-top: 16px;
  }
}

.label {
  margin-left: 14px;
  font-size: 1.5rem;
  font-weight: 600;
}
.mesage {
  margin-top: 4px;
  margin-left: 12px;
  font-size: 1.4rem;
  color: var(--invalid-color);
}
