.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Berchtesgaden_Desktop_1920x1080.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
